# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Maven directory
target/
1Z0-829/target

# Gradle directory
build/

# Virtual Machine crash logs
hs_err_pid*

# IntelliJ IDEA specific
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse specific
.classpath
.project
.settings/

# NetBeans specific
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# VS Code specific
.vscode/

# Operating System specific files
.DS_Store
Thumbs.db

# Other tools
*.swp
*.swo
*.tmp
*.bak
*.sublime-project
*.sublime-workspace
